<!DOCTYPE html>
<html>
  
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>NO TITLE PROVIDED</title>
    {% endif %}
    <style>
      
    .hidden {
	display: none;
    }

    .main_button {
    color:green;
    margin-left:30%;
    margin-right:40%;
    margin-bottom:20px;
    margin-top:20px;
    width:30%;
    height:30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    }
    
    #project_box {
    margin-left:20%;
    margin-right:20%;
    width:50%;
    text-align: center;
    }

    .project_node {
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: solid;
    }

    .project_head {
    padding:5px;
    margin:5px;
    border-style: solid;
    text-align: left;
    }

    .project_title {
    padding:5px;
    margin:5px;
    border-style: solid;
    }

    .project_desc {
    padding:0px;
    margin: 5px;
    border-style: solid;
    }

    .project_control {
    padding: 0px;
    margin: 5px;
    border-style: solid;
    text-align: right;
    }

    .task_box {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    }

    .task_node {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    }

    .task_title {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    text-align: left;
    }

    .task_control {
    padding: 0px;
    margin: 5px;
    border-style: solid;
    text-align:right;
    }


    </style>
  </head>
  
  <body>
    <script>

    function check_user() {
	var xhr = new XMLHttpRequest();
	xhr.onload = (function () {
	    var result = xhr.responseText;
	    switch (result) {
		
	    case "authenticated":
		show_for_authenticated();
		load_user_data();
		break;
		
	    case "anonymous":
		show_for_anonymous();
		break;
		
	    default:
		alert("can't figure out user authorization status, probably server error");
		break;		
	    }
	});
	xhr.open("POST", "check_user", false);
	xhr.send();
    };

    window.onload = check_user;
      
    function sign_up_user() {
    
        var form = document.getElementById("signupform");
	var username = form.username.value;
	var password = form.password.value;
	var email = form.email.value;

        var params = "?username="+username+"&password="+password+"&email="+email;
    
	var xhr = new XMLHttpRequest();
        xhr.onload = (function () {
	    var result = xhr.responseText;
	    
	    switch(result) {
		
	    case "success":
		show_for_authenticated();
		load_user_data();
		break;
		
	    case "exists":
		alert("user with same username or email already exists");
		break;

	    case "not enough fields":
		alert("not all fields filled");
		break;

	    case "short field":
		alert("one of the fields is too short");
		break;

	    case "incorrect email":
		alert("incorrect email adress")
		break;

	    default:
		alert("unknown server error");
	    }
	});

	xhr.open("POST", "/sign_up"+params, true);
	xhr.send();
    };

    function sign_in_user() {

	var form = document.getElementById("signinform");
	var identity = form.identity.value;
	var password = form.password.value;
	var params = "?identity="+identity+"&password="+password;

	var xhr = new XMLHttpRequest();
	xhr.onload = (function() {
	    var result = xhr.responseText;
	    
	    switch(result) {
		
	    case "success":
		show_for_authenticated();
		load_user_data();
		break;
		
	    case "not enough fields":
		alert("not all fields filled");
		break;

	    case "short field":
		alert("one of the fields is too short");
		break;
		

	    case "noexists":
		alert("no such user exists");
		break;

	    default:
		alert("unknow server response");
	    }
	});
	xhr.open("POST", "/sign_in"+params, true);
	xhr.send();
    };

    function create_project() {
	var proj_name = prompt("input project name","");
	var proj_desc = prompt("inputs short description","");
	var params = "?name=" + proj_name + "&description="+proj_desc;
	var xhr = new XMLHttpRequest();
	xhr.onload = (function() {
	    var result = JSON.parse(xhr.responseText);
	    
	    switch(result.status) {
		
	    case "success":
		push_project("head",result.project);
		break;
	    case "exists":
		alert("such project already exists");
		break;
	    case "fail":
		alrt("fail");
		break;
	    default:
		alert("unknown server error");;
	    }
	});
	xhr.open("POST", "create_project"+params, false);
	xhr.send();
    }

    function sign_out() {
	var xhr = new XMLHttpRequest();
	xhr.onload = () => (clear_forms() || erase_user_data() || show_for_anonymous());
	xhr.open("POST", "sign_out", false);
	xhr.send();
    };

    function show_signin() {
        document.getElementById("signup").style.display = "none";
	document.getElementById("signin").style.display = "block";
    };

    function show_signup() {
	document.getElementById("signin").style.display = "none";
	document.getElementById("signup").style.display = "block";
    };

    function show_for_authenticated() {
	document.getElementById("authenticated_content").style.display = "block";
	document.getElementById("anonymous_content").style.display = "none";
    };

    function show_for_anonymous() {
	document.getElementById("anonymous_content").style.display = "block";
	document.getElementById("authenticated_content").style.display = "none";
    };

    function clear_forms() {
	var form = document.getElementById("signupform");
	form.username.value = form.email.value = form.password.value = "";
	form = document.getElementById("signinform");
	form.identity.value = form.password.value = "";
    };

    function erase_user_data() {
	var project_box = document.getElementById("project_box");
	while(project_box.firstChild) {
	    project_box.removeChild(project_box.firstChild);
	}
    };

    function task_adder(proj_name, task_box_node) {
	return (function () {
	    var xhr = new XMLHttpRequest();
	    var task_name = prompt("enter task name","");
	    var params = "?proj_name="+proj_name+"&task_name="+task_name;

	    xhr.onload = (function() {
		var result = JSON.parse(xhr.responseText);
		switch(result.status) {
		case "success":
		    push_task("head",result.task, task_box_node, proj_name);
		    break;
		case "fail":
		    alert("failed to create a task");
		    break;
		default:
		    alert("unknown server error");
		}
	    });
	    
	    xhr.open("POST","add_task"+params,false);
	    xhr.send();
	});
    };

    function task_remover(task_name, task_node, proj_name) {
	return (function() {
	    var xhr = new XMLHttpRequest();
	    var params = "?proj_name="+proj_name+"&task_name="+task_name;
	    
	    xhr.onload = (function() {
		var result = xhr.responseText;
		switch(result) {
		case "success":
		    task_node.parentNode.removeChild(task_node);
		    break;
		case "fail":
		    alert("failed to delete tast");
		    break;
		default:
		    alert("unknown server error");
		}
	    });
	
	    xhr.open("POST", "remove_task"+params, false);
	    xhr.send();
	});
    };

    function project_remover(proj_name, proj_node) {
	return (function() {
	    var confirmation = prompt("are you sure want to delete project "
				      + "\""+proj_name+"\" "
				      + "\n[Y]es to confirm");
	    if (confirmation.toLowerCase() != "yes" && confirmation.toLowerCase() != "y") {
		return;
	    }
	    var xhr = new XMLHttpRequest();
	    var params = "?proj_name="+proj_name;
	    
	    xhr.onload = (function() {
		var result = xhr.responseText;
		switch(result) {
		case "success":
		    proj_node.parentNode.removeChild(proj_node);
		    break;
		case "fail":
		    alert("failed to delete project");
		    break;
		default:
		    alert("unknown server error");
		}
	    })
	    
	    xhr.open("POST","remove_project"+params, false);
	    xhr.send();
	});
    };

    function desc_changer(proj_name, desc_node) {
	return (function() {
	    var new_desc = prompt("input new description",desc_node.innerHTML);
	    var xhr = new XMLHttpRequest();
	    var params = "?proj_name="+proj_name+"&desc="+new_desc;
	    
	    xhr.onload = (function() {
		var result = xhr.responseText;
		
		switch(result) {
		case "success":
		    desc_node.innerHTML = new_desc;
		    break;
		case "fail":
		    break;
		default:
		    alert("unknown server error");
		}
	    });
	    
	    xhr.open("POST","change_desc"+params, false);
	    xhr.send();
	});
    };

    function push_task(dir, task, task_box_node, proj_name){
	var task_node = create_task_node(task, proj_name);
	if (dir=="head")
	    task_box_node.insertBefore(task_node, task_box_node.firstChild);
	else
	    task_box_node.appendChild(task_node);
    };

    function proj_name_changer(proj_name, proj_title_node) {
	return (function() {
	    var new_name = prompt("input new project name",proj_title_node.innerHTML);
	    if(new_name == "") return;
	    var params = "?curr_name="+proj_name+"&new_name="+new_name;
	    
	    var xhr = new XMLHttpRequest();
	    
	    xhr.onload = (function() {
		var result = xhr.responseText;
		switch(result){
		case "success":
		    proj_title_node.innerHTML = new_name;
		    break;
		case "exists":
		    alert("project with such name already exists");
		    break;
		case "fail":
		    break;
		default:
		    alert("unknown server error");
		}
	    });
	    
	    xhr.open("POST", "change_proj_name"+params, false);
	    xhr.send();
	});
    };

    function create_task_node(task, proj_name) {
    
	var task_node = document.createElement("div");
	task_node.className = "task_node";

	var task_title = document.createElement("div");
	task_title.className = "task_title";
	task_title.innerHTML = task.name;

	var task_control = document.createElement("div");
	task_control.className = "task_control";
	
	var delete_task = document.createElement("button");
	delete_task.className = "task_control";
	delete_task.innerHTML = "delete task";
	delete_task.onclick = task_remover(task.name, task_node, proj_name);

	[delete_task].map( (x) => task_control.appendChild(x) );
	[task_title, task_control].map( (x) => task_node.appendChild(x) );
	
	return task_node;
    };

    function create_project_node(project) {

	var proj_node = document.createElement("div");
	proj_node.className = "project_node";
    
	var proj_node_head = document.createElement("div");
	proj_node_head.className = "project_head";
	 
	var proj_title = document.createElement("div");
	proj_title.className = "project_title";
	proj_title.innerHTML = project.name;

	var proj_desc = document.createElement("div");
	proj_desc.className = "project_desc";
	proj_desc.innerHTML = project.desc || "";

	var task_box =  document.createElement("div");
	task_box.className = "task_box";

	var proj_control = document.createElement("div");
	proj_control.className = "project_control";

	var change_name = document.createElement("button");
	change_name.className = "project_control";
	change_name.innerHTML = "change name";
	change_name.onclick = proj_name_changer(project.name, proj_title);
	
	var change_desc = document.createElement("button");
	change_desc.className = "project_control";
	change_desc.innerHTML = "change description";
	change_desc.onclick = desc_changer(project.name, proj_desc);
	
	var remove_project = document.createElement("button");
	remove_project.className = "project_control";
	remove_project.innerHTML = "remove project";
	remove_project.onclick = project_remover(project.name, proj_node);
	
	var add_task = document.createElement("button");
	add_task.className = "project_control";
	add_task.innerHTML = "add task";
	add_task.onclick = task_adder(project.name, task_box);

	[change_name,change_desc, remove_project, add_task].map(
	    x => proj_control.appendChild(x)
	);
	[proj_title, proj_desc, proj_control].map( x => proj_node_head.appendChild(x) );
	[proj_node_head, task_box].map( x => proj_node.appendChild(x) );
	
	return {node_itself: proj_node, task_box: task_box};
    };

    function push_project(dir, project) {
	var proj_box = document.getElementById("project_box");
	var proj_node_obj = create_project_node(project);
	if (dir=="head")
	    proj_box.insertBefore(proj_node_obj.node_itself, proj_box.firstChild);
	else
	    proj_box.appendChild(proj_node_obj.node_itself);
	return proj_node_obj.task_box;
    };


    function load_user_data() {
    
	var xhr = new XMLHttpRequest();

	xhr.onload = (function (){
	    var result = JSON.parse(xhr.responseText);
	    var proj_box = document.getElementById("project_box");
	    for(i in result) {
		var task_box_node = push_project("tail",result[i]);
		var tasks = result[i].tasks;
		for(j in tasks) {
		    push_task("tail",tasks[j], task_box_node, result[i].name);
		}
	    }
	});
    
	xhr.open("GET", "get_user_data", false);
	xhr.send();
    }

    </script>

    <div id="authenticated_content">
      
      <button onclick="create_project();" class="main_button">add project</button> <br>
      
      <div id="project_box">
      </div>
      
      <button onclick="sign_out();" class="main_button">sign out</button>
    </div>

    <div id="anonymous_content">

      <button onclick="show_signin()">
	sign in
      </button><br>

      <button onclick="show_signup()">
	sign up
      </button>
  
      <div id="signup" class="hidden">
	<form action="sign_up" method="post" onsubmit="return false;" id="signupform">
	  <input type="text" pattern=".{5,64}" placeholder="username" name="username"><br>
	  <input type="email" placeholder="email" name="email"><br>
	  <input type="password" pattern=".{5,64}" placeholder="password" name="password"><br>
	  <button onclick="sign_up_user();"> submit </button>
	  <button onclick="document.getElementById('signup').style.display='none'">
	    cancel
	  </button>
	</form>
      </div>
      
      <div id="signin" class="hidden">
	<form action="sign_in" method="post" onsubmit="return false;" id="signinform">
	  <input type="text" pattern=".{5,64}" placeholder="username/email" name="identity"><br>
	  <input type="password" pattern=".{5,64}" placeholder="password" name="password"><br>
	  <button onclick="sign_in_user();"> submit </button>
	  <button onclick="document.getElementById('signin').style.display='none'">
	    cancel
	  </button>
	</form>
      </div>
    </div>
  </body>

</html>
